
.header{
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  height: 100px;
  width: 100vw;
  padding-left: 250px;
  padding-right: 350px;
  position: fixed;
  z-index: 10;
}

.site-layout-bg {
  background: url("../assets/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo-cont{
  margin-right: 30px;
}

.left-btn{
  display: flex;
  justify-content: center;
}

.album-btn, .tour-btn, .merch-btn, .music-btn{
  font-family: Ink Free;
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  color: #fff;
  height: auto;
}

.fb-btn, .tw-btn{
  font-size: 27px;
  color: #fff;
  height: auto;
}

.yt-btn{
  font-size: 29px;
  color: #fff;
  height: auto;
}

.band-logo{
  height: 60px;
  width: 60px;
}